---
layout: default
title: Intentional Social Misfit
---

<!-- Featured Post -->
{% for post in site.posts %}
	{% if forloop.first == true %}
		<article class="post featured">
			<header class="major">
				<span class="date">{{ post.date | date_to_string }}</span>
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p>{{ post.summary }}</p>
			</header>
			<a href="{{ post.url }}" class="image main"><img src="images/pic01.jpg" alt="" /></a>
			<ul class="actions">
				<li><a href="{{ post.url }}" class="button big">Full Story</a></li>
			</ul>
		</article>
		<!-- Posts -->
		<section class="posts">
	{% else %}
		<article>
			<header>
				<span class="date">{{ post.date | date_to_string }}</span>
				<h2><a href="{{ post.url }}#main">{{ post.title }}</a></h2>
			</header>
			<a href="{{ post.url }}#main" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
			<p>{{ post.summary }}</p>
			<ul class="actions">
				<li><a href="{{ post.url }}#main" class="button">Full Story</a></li>
			</ul>
		</article>
	{% endif %}
{% endfor %}
</section>

<!-- Footer -->
<footer>
	<div class="pagination">
		<!--<a href="#" class="previous">Prev</a>-->
		<a href="#" class="page active">1</a>
	</div>
</footer>