---
layout: default
title: Intentional Social Misfit
---

<!-- Main -->
<div id="main">

	<!-- Featured Post -->
	{% for post in site.posts %}
		{% if forloop.first == true %}
			<article class="post featured">
				<header class="major">
					<span class="date">{{ post.date | date_to_string }}</span>
					<h2><a href="{{ post.url }}"></a></h2>
					<p>{{ post.summary }}</p>
				</header>
				<a href="{{ post.url }}" class="image main"><img src="images/pic01.jpg" alt="" /></a>
				<ul class="actions">
					<li><a href="{{ post.url }}" class="button big">Full Story</a></li>
				</ul>
			</article>
			<!-- Posts -->
			<section class="posts">
			<% else %>
				<article>
					<header>
						<span class="date">{{ post.date | date_to_string }}</span>
						<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
					</header>
					<a href="{{ post.url }}" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
					<p>{{ post.summary }}</p>
					<ul class="actions">
						<li><a href="{{ post.url }}" class="button">Full Story</a></li>
					</ul>
				</article>
			<% endif %>
		{% endfor %}
	</section>

	<!-- Footer -->
	<footer>
		<div class="pagination">
			<!--<a href="#" class="previous">Prev</a>-->
			<a href="#" class="page active">1</a>
			<a href="#" class="page">2</a>
			<a href="#" class="page">3</a>
			<span class="extra">&hellip;</span>
			<a href="#" class="page">8</a>
			<a href="#" class="page">9</a>
			<a href="#" class="page">10</a>
			<a href="#" class="next">Next</a>
		</div>
	</footer>

</div>